html,
body,
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  border-bottom: 1px solid red;
  display: flex;
  font-size: 1.5rem;
  text-transform: uppercase;
  height: 3rem;
  justify-content: center;
}

.content-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 400px;
  padding: 1.25rem;
}

.media-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.media-container .video-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 0.375rem;
  overflow: hidden;
}

.media-container .video-player video {
  width: 100%;
  object-fit: cover;
}

.video-details {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.video-details .title {
  font-size: 1.25rem;
}

.video-details .meta-data {
  align-items: center;
  display: grid;
  font-size: 0.875rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.video-details .meta-data .user-info {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.625rem;
}

.video-details .meta-data .user-info .icon {
  background-color: red;
}

.video-details .meta-data .user-info .stats {
  display: flex;
  flex-direction: column;
}

.video-details .meta-data .user-info .stats .name {
  font-weight: 600;
}

.video-details .meta-data .user-info .stats .subscribers {
  font-size: 0.75rem;
}

.video-details .meta-data .social-data {
  align-items: flex-start;
  display: flex;
  gap: 0.625rem;
  justify-content: flex-end;
}

.video-details .description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #222;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.video-details .description .views {
  font-size: 0.875rem;
}

.video-details .description .about {
  font-size: 0.875rem;
}

.comment-container {
}

.comment-container .comment-form {
}

.comment-container .comment-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.comment-container .comment-list .comment {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.625rem;
}

.comment-container .comment-list .comment .avatar {
  background-color: brown;
}

.comment-container .comment-list .comment .user-info-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.comment-container .comment-list .comment .user-info-block .user-info {
  display: flex;
  gap: 0.625rem;
}

.comment-container .comment-list .comment .user-info-block .user-info .username {
  font-size: 0.875rem;
}

.comment-container .comment-list .comment .user-info-block .user-info .date {
  font-size: 0.75rem;
  color: #ccc;
}

.comment-container .comment-list .comment .user-info-block .user-comment {
  font-size: 0.875rem;
}

.comment-container .comment-list .comment .user-info-block .user-likes {
  font-size: 0.75rem;
  color: #ccc;
}

.content-container .more-videos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-container .more-videos .more-video-item {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 0.375rem;
}

.content-container .more-videos .more-video-item:hover {
  background-color: #181818;
}

.content-container .more-videos .more-video-item .thumbnail {
  aspect-ratio: 16 / 9;
  background-color: #555;
  border-radius: 0.375rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container .more-videos .more-video-item .thumbnail img {
  object-fit: cover;
}

.content-container .more-videos .more-video-item .info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
}

.content-container .more-videos .more-video-item .info .title {
  font-size: 0.875rem;
  font-weight: 600;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-container .more-videos .more-video-item .info .username {
  font-size: 0.75rem;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
}

.content-container .more-videos .more-video-item .info .stats {
  font-size: 0.75rem;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
}
